:root {
  --font-size: 16px;
  --font-size-smaller: 0.875rem;
  --font-size-smallest: 0.75rem;

  --body-font-weight: 400;
  --body-background: white;
  --body-background-tint: transparent;
  --body-font-color: black;

  --border-radius: 0.25rem;
  --c-vwhite: #dde0bd;
  --c-vgreen: #61b8ae;
  --c-vgray: #131726;
  --c-vgraylight:#59608e;
  --c-tgraylighter: #333f58;
}

// Themes
@mixin theme-light {
  --body-background: white;
  --body-background-tint: none;
  --body-font-color: black;

  --color-link: #2B5F55;
  --color-visited-link: #2B5F55;

  --icon-filter: none;

  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-500: #adb5bd;

  @include accent("default", #64748b);
  @include accent("note", #4486dd);
  @include accent("tip", #3bad3b);
  @include accent("important", #8144dd);
  @include accent("warning", #f59e42);
  @include accent("caution", #d84747);

  // Fallback for {{< hint >}} shortcodes
  @include accent("info", #4486dd);
  @include accent("success", #3bad3b);
  @include accent("danger", #d84747);
}

@mixin theme-dark {
  --body-background: #17171c;
  --body-background-tint: none;

  --body-font-color: #dde0bd;

  --color-link: #61b8af;
  --color-visited-link: #61b8ae;

  --icon-filter: brightness(0) invert(1);

  --gray-100: #494e54;
  --gray-200: #5c6165;
  --gray-500: #999d9f;

  @include accent("default", #64748b);
  @include accent("note", #4486dd);
  @include accent("tip", #3bad3b);
  @include accent("important", #8144dd);
  @include accent("warning", #f59e42);
  @include accent("caution", #d84747);

  // Fallback for {{< hint >}} shortcodes
  @include accent("info", #4486dd);
  @include accent("success", #3bad3b);
  @include accent("danger", #d84747);
}

@mixin theme-auto {
  @include theme-light;

  @media (prefers-color-scheme: dark) {
    @include theme-dark;
  }
}

// Convenience mixing to declare a color and a transparent tint
@mixin accent($name, $color, $tint: 0.1) {
  --color-accent-#{$name}: #{$color};
  --color-accent-#{$name}-tint: #{rgba($color, $tint)};
}

// Custom Landing Page
.pb{
    margin: 10px;
    border-radius: 16px;
    padding: 20px;

}

.pbase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pbase .pb-main{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 6rem;
    line-height: 0.5;
    font-weight: bold;
}

.pbase .pb-sub{
    font-size: 2rem;
    color: var(--c-vgreen);
    font-weight: bold;
}

a.start-btn{
    font-size: 1.5rem;
    color: var(--body-background) !important;
    border: 2px solid var(--body-font-color);
    background-color: var(--body-font-color);
    padding: 20px;
    border-radius: 16px;
    font-weight: bold;
    text-decoration: none;
}

a.start-btn:hover{

    color: var(--color-link) !important;
    text-decoration: none;

}

